.background-video {
    position: fixed;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    /*transform: translateY(-50%) translateX(-50%);*/
    /*width: 102%;*/
    /*height: 102%;*/
    z-index: -1;
    display: none;
}

.background-video iframe {
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 100%;
    width: 178vh;
    z-index: 0;
}

.background-video:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

@media all and (min-aspect-ratio: 888/500) {
    .background-video iframe {
        width: 100vw;
        height: 56.3vw;
    }
}

volume {
    position: fixed;
    right: 4rem;
    top: 2rem;
    color: whitesmoke;
    font-size: 6rem;
    display: none;
    text-decoration: line-through;
    cursor: pointer;
}

volume:before {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -4px;
    height: 5px;
    width: 150%;
    left: -10%;
    transform: rotate(20deg);
    background-color: whitesmoke;
}

volume.active:before {
    content: none;
}

.video-copyright {
    position: fixed;
    bottom: 1rem;
    right: 3rem;
    color: whitesmoke;
    white-space: nowrap;
    z-index: 2;
    font-size: 1.5rem;
    display: none;
    transform: rotate(90deg);
    transform-origin: 100% 50%;
}

@media all and (min-width: 960px) {
    .background-video {
        display: block;
    }
}

@media all and (min-width: 1200px) {
    volume,
    .video-copyright {
        display: block;
    }
}
