/* Reality */

.hidden-reality {
  display: none;
}

.hidden-reality-reveal {
  cursor: pointer;
}

body.hidden-reality-revealed .visible-reality {
  display: none;
}

body.hidden-reality-revealed .hidden-reality {
  display: block;
}